doctype html
html
  head
    title Socket.IO Chat
    link(rel='stylesheet', href='/styles/style.css')
  body
    .container
      .msg-header
        .container1
          .active
            p Chat Room
      .chat-page
        .msg-inbox
          .chats
            .msg-page#messages
             
          // msg-bottom section
          .msg-bottom
            .input-group
              input#input.form-control(type='text', placeholder='Write message...')
              button#sendButton.input-group-text.send-icon
                i.bi.bi-send send
            
  script(src='/socket.io/socket.io.js')
  script.

    var socket = io();
    var button = document.getElementById('sendButton');
    var input = document.getElementById('input');

    button.addEventListener('click', function(e) {
    e.preventDefault();

    if (input.value) {
      socket.emit('chat', input.value);
      input.value = '';
      }
    });

    socket.on('chatsuccess', function(msg) {
      var elem = document.createElement('p');
      elem.textContent = msg;
      document.getElementById('messages').appendChild(elem);
      window.scrollTo(0, document.body.scrollHeight);
    });
    